include aggrid_dash_component/aggrid_dash_component.min.js
include aggrid_dash_component/aggrid_dash_component.min.js.map
include aggrid_dash_component/async-*.js
include aggrid_dash_component/async-*.js.map
include aggrid_dash_component/*-shared.js
include aggrid_dash_component/*-shared.js.map
include aggrid_dash_component/metadata.json
include aggrid_dash_component/package-info.json
include README.md
include LICENSE
include package.json
