include dash_ag_grid_component/dash_ag_grid_component.min.js
include dash_ag_grid_component/dash_ag_grid_component.min.js.map
include dash_ag_grid_component/async-*.js
include dash_ag_grid_component/async-*.js.map
include dash_ag_grid_component/*-shared.js
include dash_ag_grid_component/*-shared.js.map
include dash_ag_grid_component/metadata.json
include dash_ag_grid_component/package-info.json
include README.md
include LICENSE
include package.json
